.transactionHistory {
  margin: 0 auto;
  width: 400px;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #f6f6f6;
}

.tableTitle {
  border: 1px solid #f6f6f6;
  background-color: #00bcd5;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 0;
}

.tableCells {
  text-transform: capitalize;
  border: 1px solid #ecf1f4;
  color: grey;
  padding: 10px 0;
}

.tableRows:nth-child(even) {
  background-color: #ecf1f4;
}
